body{
    margin: 0;
    padding: 0;
}
#header{
    background: url(../img/header.jpg) no-repeat center center / cover;
    height: 100vh;
}
.logo{
    margin-top: 20px;
}
.offer{
    margin-top: 120px;
}
h1{
    color: #3b3939;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
}
.offer__paragraph{
    margin-top: 40px;
    font-family: 'Montserrat';
    color: #3b3939;
    font-size: 16px;
    font-weight: 500;
}
.offer__button{
    box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
    border-radius: 31px 31px 31px 31px;
    border: 1px solid #f3b787;
    text-align: center;
    margin-top: 60px;
}
.order{
    width: 219px;
    height: 50px;
    margin: 10px 10px 10px 10px;
    background-color: #f3b787;
    border-radius: 22px 22px 22px 22px;
    border-color: #f3b787 ;
}
.order:hover,.offer__button:hover,.colo:hover{
    background-color:#f8a968;
    transition: 2s ease;
}

.fa-check:hover{
    color: black;
    transition: 2s;
}
.hamburger__menu{
    margin-top: 40px;
    text-align: center;
}
.hamburger__link{
    color: #f1f1f0;
font-family: 'Montserrat';
font-size: 15px;
font-weight: 300;
letter-spacing: 1.44px;
}
.hamburger__link:hover,.footer-menu__link:hover{
    color: orange;
    text-decoration: orange;
}
.hamburger__line{
    width: 140px;
    height: 4px;
    display: block;
    background-color: orange;
    margin: 0px 0px 30px 52px;
}
.hamburger__block{
    margin-top: 20px;
}
/* Hamburger*/
.menu {
    overflow: hidden;
    position: relative;
    height: 500px;
    bottom: 85%;
    right: 13%;
  }
  .nav-wrapper{
    z-index: 1;
    position: inherit;
  }
  .nav-container {
  padding-top: 50px;
  padding-right: 15px;
  float: right;
  }
  .menu-icon {
    display: flex;
    justify-content: center;
    z-index: 19;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .menu-icon-line {
  position: relative;
  width: 50px;
  height: 5px;
  background-color: orange;
  }
  .menu-icon-line::before {
  position: absolute;
  left:-20px;
  top: -10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: orange;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon-line::after {
  position: absolute;
  left: -20px;
  top: 10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: orange;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
  }
  .menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .hamburger {
    z-index: 9;
    display: block;
    position: absolute;
    right: -350px;
    top: 0;
    height: 100%;
    width: 350px;
    padding: 50px;
    background-color: black;
    transition: transform 0.4s ease-in;
  }
  .hamburger--active {
    transform: translateX(-100%);
  }


  /*Section 2*/
  #two,#three,#four,#five,#six,#footer{
      margin-top: 123px;
  }
  .section-name{
    color: #3b3939;
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
  }
.colo{
    width: 48px;
    height: 48px;
    box-shadow: 0 0 34px 1px rgba(159, 128, 92, 0.08);
    background-color: #f3b787;
    display:block;
    border-radius:50%;
    margin-top: 42px;
}
.colo-paragraph{
    color: #3b3939;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    margin-top: 45px;
}
.fa-check{
    color: white;
    margin: 7px;
}
.line{
    position: relative;
}
.line_first{
    right: 204px;
    top: 56px;
}
.line_second{
    right: 217px;
    top: 48px;
}
.line_third{
    right: 270px;
    top: 48px;
}

/*Section three*/
.video{
    width: 100%;
}

/*Section Four*/
.information-blocks__headers{
    font-weight: 700;
    margin-top: 24px;
}
.information-blocks__paragraph{
    margin: 0px;
}
.information-blocks{
    margin-top: 80px;
}


/*Section five*/
   .info {
    background-color: #373737;
    padding: 50px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.8);
  }
  .info__header{
    display: flex;
    justify-content: space-around;
  }
   .info__header-tab {
    color: #c78030;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
  .info__header-tab:after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
    -webkit-transition: 0.4s;
            transition: 0.4s;
  }
  .info__header-tab:hover:after {
    width: 60%;
  }
    .info-tabcontent {
    width: 100%;
    padding-top: 50px;
  }
  .description-title {
    font-size: 34px;
    color: #c78030;
  }
   .description-title:after {
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background-color: #c78030;
    margin-top: 4px;
  }
  .description-text {
    margin-top: 30px;
    color: #fff;
    font-weight: 300;
    padding-right: 20px;
    font-family: 'Montserrat';
  }
  .description-btn {
    width: 180px;
    height: 45px;
    line-height: 43px;
    margin-top: 30px;
    border: 1px solid #c78030;
    font-size: 14px;
    color: #c78030;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Montserrat';
  }
  .description-btn:hover {
    box-shadow: 0px 0px 5px #c78030;
  }
  .hide {
    display: none;
  }
  .photo__option,.map{
      width: 100%;
  }
.info__header-list{
    list-style-type: none
}
  /*Section six*/
  .info-paragraph{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
  }
  .info-paragraph{
      font-weight: 700;
  }
  .input{
    width: 100%;
    height: 68px;
    border-radius: 30px 30px 30px 30px;
    background-color: #ada6a6;
    margin-bottom: 30px;
    padding-left: 23px;
    border: 1px solid black;
  }
  .input:focus{
      border-color: red;
  }
  .map-info{
      margin-top: 24px;
  }

  /*Footer*/
  .footer__background{
      background-color: black;
      height: 200px;
  }
  .footer-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 63px;    
  }
  .footer-logo{
      margin-top: 46px;
  }
  .footer-menu__link{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 300;
  }
  .social-network{
      margin-top: 60px;
  }
  .fa-instagram,.fa-youtube{
      color: white;
  }
  .footer-line{
      content: "";
      display: block;
      height: 4px;
      margin-top: 48px;
      width: 100%;
      background-color: white;
  }
  .social-network_inst{
    float: right;
  }
  .copyright{
      margin:17px 0px 0px 0px;
      font-family: "Montserrat";
  }


  /*Modal*/
  
  .modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaaaaa;
    color: black;
    font-size: 55px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
  }
  .popup-title {
    line-height: 71px;
    background-color: #c78030;
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    font-family: 'Montserrat';
  }
  .popup-form {
    background-color:black;
    background-size: cover;
    padding: 35px 88px 50px 88px;
    color: orange;
  }
  .popup-form-header {
    padding: 0;
    font-weight: 400;
    line-height: 27px;
    font-size: 30px;
    text-align: center;
    font-family: 'Montserrat';
  }
   .popup-form__label {
    display: block;
    margin-top: 23px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    font-family: 'Montserrat';
  }
  .popup-form__input {
    width: 100%;
    height: 56px;
    margin: 17px 0px 0px 0px;
    font-size: 18px;
    background-color: #c78030;
    border: 1px solid orange;
    color: #fff;
  } 
  .popup-form__btn {
    width: 100%;
    height: 56px;
    font-size: 15px;
    background-color: transparent;
    color: #c78030;
    border: 1px solid #c78030;
    cursor: pointer;
  }