/* Hamburger*/
.header {
    overflow: hidden;
  position: relative;
  height: 856px;
  }
  .nav-wrapper{
    z-index: 1;
    position: inherit;
  }
  .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  float: right;
  }
  
  @media (min-width: 320px) {
    .nav-container {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
  .menu-icon {
    z-index: 19;
    position: relative;
    display: none;
  width: 30px;
    height: 30px;
    cursor: pointer;
  }
  @media (min-width: 320px) {
    .menu-icon {
        display: flex;
        justify-content: center;
    }
  }
  .menu-icon-line {
  position: relative;
  width: 50px;
  height: 5px;
  background-color: orange;
  }
  .menu-icon-line::before {
  position: absolute;
  left:-20px;
  top: -10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: orange;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon-line::after {
  position: absolute;
  left: -20px;
  top: 10px;
  content: '';
  width: 50px;
  height: 5px;
  background-color: orange;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon-line {
  background-color: transparent;
  }
  .menu-icon.menu-icon-active .menu-icon-line::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active .menu-icon-line::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .mobile-nav {
    z-index: 9;
    display: block;
    position: absolute;
    right: -350px;
    top: 0;
    height: 100%;
    width: 350px;
    padding: 50px;
    background-color: black;
    transition: transform 0.4s ease-in;
  }
  @media (min-width: 320px) {
    .mobile-nav {
        width: 334px;
        right: -332px;
    }
  }
  .mobile-nav--active {
    transform: translateX(-100%);
  }
  .mobile-nav__title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #f6d142;
  }
  .mobile-nav__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 40%;
    margin-top:45px;
  }
  .mobile-nav__list_second{
  margin: 0px 0px 0px 20% ;
  }
  .mobile-nav__list_exit{
  margin: 0px 0px 0px 44%;
  }
  .mobile-nav__item {
    margin-bottom: 12px;
  }
  .horizontal-line_mobile,.horizontal-line_mobile-fourth{
  height: 3px;
  margin:20px 0px 20px 19%
  }
  .horizontal-line_mobile-second{
  margin: 45px 0px 0px 19%;
  }
  .horizontal-line_mobile-third{
  margin:0px 0px 20px 19%
  }
  .menu-wrapper_mobile{
  width: 100px;
  margin-left: 20%;
  }
  .mobile-nav__link {
    color: grey;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    font-family: "Roboto";
  }
  .menu-wrapper-second_mobile{
  border:none;
  margin: 0px 0px 0px 16%;
  }
  .mobile-nav__link:hover {
    color: orange;;
    background:none;
  }

